/*Header*/
.header-list a {
  list-style: none;
  float: right;
  padding: 20px;
  text-decoration: none;
  color: black;
}

.header-list a:hover {
  background-color: #fddb6f;
  display: block;
}

.header-logo {
  float: left;
  font-size: 30px;
  padding: 20px;
  font-weight: 200;
  text-shadow: 2px 3px 1px orange;
}

.header {
  height: 80px;
  margin: 20px;
}

/*first*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "helvetica";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0px auto;
}



/*----------------------------------start bagian 2-----------------------------------------*/

.top-wrapper {
  padding: 160px 0px 110px 0px;
  background-image: url("images/banner2.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.background-text {
  background-color: rgba(0,0,0,0.5);
  padding: 40px;
}

.btn-shop {
  border: 2px solid #fddb6f;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: all 0.5s;
}




/*---- bagian 3-----*/

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  background-color: #fddb6f; 
  opacity: 1;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
body
{
  margin: 0;
  padding: 0;
    background-color: white;
}
 
.container
{
    width: 80%;
    margin: auto;
       overflow: hidden;

}

.body h2
{
    color: black;
    margin: 10px;
    text-align: center;
}

.body h4
{
    color: black;
    margin: 20px;
    text-align: center;
    border: 1px;
    border-color: yellow;

}
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 25%;
  padding: 10px;
}
 #boxes .box img{
  width: 200px;

}

    .garis {
        border-width: 3px;
        border-style: solid;
        width: 100px;
        border-bottom-color: yellow;
        border-top-color: white;
        border-left-color: white;
        border-right-color: white;
        margin-bottom: 30px;

    }

   .garis_tepi {
    margin-top: 30px;
     border: 2px solid yellow;
        width:200px;
     height: 25px;
         text-align: center;
         }

/*---------------bagian footer----------*/
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.message-wrapper {
	text-align: center;
	margin: 25px 0;
}
input {
  width: 300px;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  border: 1px solid ;
}



.message {
  padding: 15px 40px;
  background-color: yellow;
  color: white;
  cursor: pointer; 
}

footer {
	background-color: #111832;
	padding: 50px;
	color: white;
	text-align: center;
}

.img-sosmed {
	width: 30px;
	margin: 0px 10px;
}

.footer-logo {
	width: 120px;
	margin-top: 40px;

}